@charset "UTF-8";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5ecdd;
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    font-weight: normal;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.img-100-100 {
    width: 100%;
    height: 100%;
}

.img-100 {
    width: 100%;
}

.page-container {
    display: block;
    position: relative;
    min-height: 100%;
    min-width: 1280px;
}

.page-wrapper {
    width: 1204px;
    margin: 0 auto;
}

.page-wrapper.with-footer {
    padding-bottom: 200px;
}

.float-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.float-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.footer-left {
    width: 600px;
    height: 600px;
    background-image: url("../img/bg_left.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    float: left;
}

.footer-right {
    width: 600px;
    height: 600px;
    background-image: url("../img/bg_right.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    float: right;
}

.banner {
    height: 220px;
    overflow: hidden;
    border-top: 10px solid rgba(191, 140, 56, 0.7);
}

.menu {
    margin-top: 152px;
    height: 68px;
    background-color: rgba(136, 105, 74, 0.8);
}

.menu-item {
    width: 200px;
    height: 68px;
    float: left;
    font-size: 24px;
    color: #f0e4c9;
    line-height: 68px;
    text-align: center;
    text-decoration: none;
    margin: 0 -14px;
    cursor: pointer;
}

.menu-item.active {
    background-image: url("../img/menu_bg.png");
    background-size: 100% 100%;
}

.menu-item:active {
    /*background-image: url("../img/menu_active.png");*/
    /*background-size: 100% 100%;*/
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    border-top: 1px solid #c3af83;
    background-color: rgba(139, 111, 82, 0.8);
}

.footer .footer-content {
    height: 95px;
    margin-top: 28px;
}

.footer .footer-logo {
    width: 230px;
    height: 94px;
    background-image: url("../img/footer_logo.png");
    float: left;
}

.footer .footer-text {
    padding: 6px 15px;
    float: left;
}

.footer .footer-text p {
    margin: 0;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
}

.footer .footer-qrcode {
    width: 95px;
    height: 95px;
    background-image: url("../img/qrcode.png");
    background-size: 100% 100%;
    float: left;
}

/* 首页 */
.slider-container {
    position: relative;
    height: 525px;
    margin: 30px 0;
}

.slider-images {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-images img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.slider-marks {
    position: absolute;
    right: 50px;
    bottom: 0;
    padding: 20px;
}

.slider-marks span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.slider-marks span.active {
    background-color: rgba(255, 255, 255, 1);
}

.slider-pointer-left {
    width: 30px;
    height: 46px;
    background-image: url("../img/prev.png");
    cursor: pointer;
    position: absolute;
    top: 240px;
    left: -40px;
}

.slider-pointer-right {
    width: 30px;
    height: 46px;
    background-image: url("../img/next.png");
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: -40px;
}

.main-container {
    position: relative;
    overflow: hidden;
}

.main-left {
    float: left;
    width: 810px;
    height: 1420px;
}

.main-right {
    float: right;
    width: 370px;
    height: 1406px;
    border: 1px solid #cfc4b5;
    background-color: #e6daca;
}

.block-big {
    padding: 0 30px;
    border: 1px solid #cfc4b5;
    margin-bottom: 20px;
    background-color: #e6daca;
}

.block-big .block-header {
    height: 50px;
    border-bottom: 1px solid #cfc4b5;
    font-size: 20px;
    color: #815b3f;
    line-height: 50px;
    padding-left: 45px;
    background-image: url("../img/icon_title.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.block-big .block-header a {
    float: right;
    color: #1d1d1d;
    text-decoration: none;
}

.block-big .block-body {
    padding: 22px 0;
}

.block-big .block-body .content-block {
    position: relative;
    width: 360px;
    height: 240px;
}

.content-block .image-title {
    position: absolute;
    padding: 0 20px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.65);
}

.content-block ul {
    margin: 0;
    padding: 0;
}

.content-block li {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.content-block li a {
    font-size: 16px;
    color: #333;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.block-small {
    padding: 0 30px;
}

.block-small .block-header {
    height: 50px;
    border-bottom: 1px solid #cfc4b5;
    font-size: 20px;
    color: #815b3f;
    line-height: 50px;
}

.block-small .block-body {
    padding: 22px 0;
    font-size: 16px;
    color: #333;
}

.block-small .block-body .content-block {
    position: relative;
}

.block-small .content-block li {
    margin-bottom: 20px;
    background-image: none;
    padding: 0;
}

.block-small .content-block li p {
    margin: 0;
    line-height: 30px;
    text-indent: 56px;
}

.block-small .content-block li p:first-child {
    text-indent: 0;
}

/* 文章类 */
/* 左侧列表类 */
.article {
    position: relative;
    background-color: #e6daca;
    min-height: 500px;
    padding: 50px 55px 50px 300px;
    margin-top: 30px;
    border: 1px solid #cfbda6;
}

.article.with-content {
    padding: 50px 105px;
}

.article-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    /*bottom: 0;*/
    min-height: 100%;
    background-color: #cfbca4;
    margin: 0;
    padding: 0;
}

.article-list li {
    list-style-type: none;
    line-height: 66px;
}

.article-list li a {
    padding: 0 10px;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-list li.active a {
    color: #876849;
    background-color: #e6daca;
}

/* 右侧列表类 */
.content-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 780px;
}

.content-list li {
    margin: 0;
    height: 60px;
    padding-left: 20px;
    line-height: 60px;
    background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-bottom: 1px solid #cdbaa4;
}

.content-list li a {
    font-size: 16px;
    color: #663d20;
    display: inline-block;
    width: 825px;
    text-decoration: none;
}

.with-content .content-list li a {
    width: 970px;
}

.content-list li .content-title {
    display: inline-block;
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-list li .content-date {
    float: right;
}

/* 分页 */
.paging {
    height: 50px;
    text-align: center;
}

.paging .page {
    border: 1px solid #a98e77;
    background-color: #cfbca4;
    color: #815b3f;
    font-size: 14px;
    padding: 3px 8px;
    margin: 3px;
    text-decoration: none;
}

.paging .page.active {
    border: 1px solid transparent;
    background-color: transparent;
}

/* 正文 */
.text-content {

}

.text-content h1 {
    font-size: 26px;
    font-weight: bold;
    color: #876849;
}

.text-content img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.text-content p {
    font-size: 16px;
    color: #876849;
    margin: 0;
    line-height: 36px;
}

.text-content video {
    display: block;
    width: 980px;
    height: auto;
    margin: 0 auto;
}

/* 分享至 */
.share-to {
    float: right;
    height: 45px;
    line-height: 45px;
    padding-right: 50px;
    color: #663d20;
    font-size: 16px;
    background-image: url("../img/wechat.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer;
}

.share-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.share-content {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #d4c2a9;
}

.share-content .share-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../img/icon_close.png");
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.share-content .share-qrcode img {
    display: block;
    margin: 50px auto 10px;
}

.share-content .share-tip {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #663d20;
    margin-bottom: 30px;
}